.button {
  background-color: var(--color-black);
  color: var(--color-primary);       
  border-radius: 12px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 16px;
  min-width: fit-content; 
}

.button:hover {
  opacity: 0.9;
}
