.wrapper {
  width: 100%;
  position: relative;
}

.slide {
  width: auto; 
  display: flex;
  justify-content: center;
}

:global(.swiper-button-next),
:global(.swiper-button-prev) {
  color: var(--color-white);
  background-color: var(--color-primary);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  pointer-events: auto !important; 
  cursor: pointer;
  padding: 5px;
  z-index: 10;
}

:global(.swiper-button-next svg),
:global(.swiper-button-prev svg),
:global(.swiper-button-next svg *),
:global(.swiper-button-prev svg *) {
  pointer-events: auto !important;
}

:global(.swiper-button-next::after),
:global(.swiper-button-prev::after) {
  pointer-events: none !important;
  font-size: 10px !important;
  font-weight: bold !important;
}

:global(.swiper-button-disabled) {
  display: none !important;
}