.wrapper {
  width: 100%;
  position: relative;
}

.slide {
  width: auto !important;
}

:global(.swiper-button-next),
:global(.swiper-button-prev) {
  color: var(--color-white);
  background-color: var(--color-primary);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  box-sizing: border-box;
}

:global(.swiper-button-next::after),
:global(.swiper-button-prev::after) {
  font-size: 10px !important;
  font-weight: bold !important;
}