.filterWrapper {
  display: flex;
  margin-bottom: 25px; 
}

.tabs {
  min-height: 34px !important;
}

.tab {
  text-transform: none !important; 
  color: var(--color-white) !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  min-width: 0 !important;
  padding: 0 15px !important;
  margin-right: 20px !important;
}

/* :global(.Mui-selected) {
  color: var(--color-primary) !important;
} */