body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-black); 
  color: var(--color-white);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

:root {
  --color-primary: #34C94B; /* QTify Green */
  --color-black: #121212;   /* Main Black */
  --color-white: #FFFFFF;   /* Pure White */

  --font-main: "Poppins", sans-serif;
}