body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #34C94B; /* QTify Green */
  --color-black: #121212;   /* Main Black */
  --color-white: #FFFFFF;   /* Pure White */

  --font-main: "Poppins", sans-serif;
}